    <form action="/become-admin" method="POST">
      <div class="form-container light-transparent animate-children fade-in">
        <div class="form-inputs">
          <%- include("../base/input.ejs",{class: "autofocus-on-dialog-close", type: "password", name: "password", label: "Admin Password", maxlength: process.env.PASSWORD_MAX_LENGTH, required: true, autofocus: true, autocomplete: "new-password"}) _%>
        </div>

        <%- include("../base/submitButton.ejs", {label: "SUBMIT"}) _%>
      </div>
    </form>