<header class="top-header">
  <h3 class="text-gradient fixed-gradient"> <%= title %></h1>
    <nav>
      <button class='close' type="button" onCLick="this.closest('dialog').close()"><%- include("./elements/backIcon.ejs")%></button>
    </nav>
</header>