<header>
  <h1 class="text-gradient-fixed"> <%= pageTitle %></h1>
  <nav>
    <%_ if(locals.currentUser) { _%>

    <a href="/new-message">POST A MESSAGE</a>

    <%_ if(!locals.currentUser.is_member) { _%>
    <a href="/join-the-club">JOIN THE CLUB</a>
    <%_ } _%>

    <%- include("./logoutButtonAndDialog.ejs") _%>

    <%_ } else { // guest _%>

    <a href="/login">LOGIN</a>
    <a href="/signup">SIGN UP</a>

    <%_ } _%>
  </nav>
</header>