<header>
  <h1 class="text-gradient fixed-gradient"> <%= pageTitle %></h1>
  <nav>
    <%_ if(locals.currentUser) { _%>

    <a href="/new-message" class="button block-border-gradient">POST</a>
    <%_ if(!locals.currentUser.is_member) { _%>
    <a href="/join-the-club" class="button block-border-gradient fill-gradient fixed-gradient">JOIN</a>
    <%_ } _%>

    <%- include("./logoutButtonAndDialog.ejs") _%>

    <%_ } else { // guest _%>

    <a href="/login" class="button block-border-gradient">LOGIN</a>
    <a href="/signup" class="button block-border-gradient fill-gradient fixed-gradient">SIGN UP</a>

    <%_ } _%>
  </nav>
</header>