<dialog class='logout'>
  <div class="dialog-container">
    <div class="dialog-modal">
      <%- include("./headerCloseDialog.ejs", {title: "Logout"}); _%>
      <main class="light-transparent">
        <form action="/logout" method="POST">
          Are you sure you want to log out?
          <button class="button block-border-gradient fill-gradient fixed-gradient" type="submit" autofocus>LOGOUT</button>
        </form>
      </main>
    </div>
  </div>
</dialog>
<%_ 
  const showLogoutModalLabel = locals.label ?? "Logout";
  if(locals.useLink) { 
_%>
<a class='show-logout-modal' href="#"><%= showLogoutModalLabel _%></a>
<%_ } else { _%>
<button class='show-logout-modal <%= locals.customClass ?? ""-%>' type="button"><%= showLogoutModalLabel _%></button>
<%_ } _%>

<script>
  const logoutDialog = document.querySelector("dialog.logout");
  const logoutShowButton = document.querySelector("dialog.logout + .show-logout-modal");

  logoutShowButton.addEventListener("click", (e) => {
    e.preventDefault();
    logoutDialog.showModal();
  });
</script>