<%_ const unreadMessages = locals.messagesArray.filter((msg) => msg.id > locals.lastReadMessageId).length _%>
<%_ if (locals?.messagesArray.length > 0) { _%>
<ul class="messages__list animate-children fade-in-and-drop">
  <span class="unread-messages-text"><%= unreadMessages %> unread <%= unreadMessages == 1 ? "message" : "messages" %></span>
  <%_ locals.messagesArray.forEach((msg, idx) => { _%>
  <li><%- include("./messageItem.ejs",{...msg, includeScript: idx === (locals.messagesArray.length - 1 )}) _%> </li>
  <%_ }) _%>
</ul>
<%_ } else { _%>
<p class="messages__list messages__list-empty secondary-text">No messages yet!</p>
<%_ } _%>