<%_ if(locals.message){ _%>
<dialog class='message'>
  <div class="dialog-container">
    <div class="dialog-modal">
      <main class="light-transparent">
        <div class="content">
          <%= locals.message _%>
          <%_ if(locals.onCloseRedirectTo){ _%>
          <a href="<%= locals.onCloseRedirectTo _%>" class="button block-border-gradient fill-gradient fixed-gradient"><%= locals.closeLabel ?? "Close" _%></a>
          <%_ } else { _%>
          <button class='close button block-border-gradient fill-gradient fixed-gradient' type="button" autofocus><%= locals.closeLabel ?? "Close" _%></button>
          <%_ } _%>
        </div>
      </main>
    </div>
  </div>
</dialog>

<script>
  const messageDialog = document.querySelector("dialog.message");

  <%_ if(!locals.onCloseRedirectTo){ _%>

  const messageCloseButton = document.querySelector("dialog.message button.close");

  messageCloseButton.addEventListener("click", (e) => {
    messageDialog.close();
  });

  <%_ } _%>

  messageDialog.showModal();
</script>
<%_ } _%>