<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= pageTitle %> | Error <%= code %> </title>
</head>

<body>
  <main class="error">
    <h2><%= code %></h2>
    <p><%= message %></p>
  </main>
</body>

</html>