<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %> | New Message</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <main>
    <h1> <%= pageTitle %></h1>
    <h2>New Message</h2>

    <%- include("./partials/form/newMessageForm.ejs") _%>
  </main>

</body>

</html>