@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap");

:root {
  --pure-black: black;
  --black: #303030;
  --white: #fefefe;

  --bg-color: #fdc5f5;
  --bg-gradient: linear-gradient(
    150deg in oklab,
    rgba(253, 197, 245, 1) 0%,
    rgba(247, 174, 248, 1) 13%,
    rgba(179, 136, 235, 1) 34%,
    rgba(128, 147, 241, 1) 67%,
    rgba(114, 221, 247, 1) 100%
  );

  --txt-col: var(--black);
  --txt-col-alt: var(--white);
  --top-color: var(--pure-black);

  --default-font: "Alan Sans", monospace;
  --default-lineheight: 1.5;
  --default-fontsize: max(18px, 2vmin);

  --page-width: 50em;
  --page-gap: 0.5vmin;

  --base-padding-tb: 0.5rem;
  --base-padding-lr: 0.8rem;

  --small-radius: 0.5em;

  --header-padding: var(--base-padding-tb) var(--base-padding-lr);
  --header-gap: 0.8rem;
  --header-nav-gap: 0.5rem;
  --header-shadow: 0 0 5px var(--top-color);

  --block-border-size: 0.1em;
  --block-border-shadow: 0 0 5px var(--txt-col);

  --button-padding-tb: 0.1em;
  --button-padding: var(--button-padding-tb) 0.5em;

  font-family: var(--default-font);
  line-height: var(--default-lineheight);
  font-weight: 400;
  font-size: var(--default-fontsize);

  color-scheme: light dark;
  color: var(--txt-col);
  background-color: var(--bg-col);

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*||Reset */
*,
*::before,
*::after {
  font-family: inherit;
  font-size: inherit; /* 100% */
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
  /* see: https://www.joshwcomeau.com/css/custom-css-reset/ */
  line-height: calc(1em + 0.5rem);
}

html {
  background: var(--bg-color);
  background: var(--bg-gradient);
  background-attachment: fixed;
  /* scrollbar-gutter: stable both-edges; */
}

body {
  margin: 0 auto;
  min-height: 100vh; /*it is assumed the same for <html>*/
  min-height: 100dvh; /* if supported */
  /* height: 100vh; /*it is assumed the same for <html>*/
  /* height: 100dvh; /* if supported */

  min-width: 320px;
  width: 100%;
  /* or max-width -- this avoids horizontal scroll bars */

  touch-action: manipulation; /* disable double tap to zoom on some browsers*/
  user-select: text;

  overflow: hidden auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--page-gap);
}

/* || Customize scrollbars */
::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
  height: 4px; /* height of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: #888; /* color of the scroll thumb */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb on hover */
}

/* || Header */

body > header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--header-padding);
  gap: var(--header-gap);
  background: var(--top-color);
  box-shadow: var(--header-shadow);
}

body > header nav {
  display: flex;
  align-items: center;
  gap: var(--header-nav-gap);
}

body > header nav .icon {
  background: var(--txt-col-alt);
  --icon-size: calc(
    1lh + 2 * (var(--button-padding-tb) + var(--block-border-size))
  );

  width: var(--icon-size);
  height: var(--icon-size);
}

body > header nav a:hover .icon {
  background: var(--bg-gradient);
}

/* || Text and block highlight styles */
.text-gradient {
  background: var(--bg-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.block-border-gradient {
  position: relative;

  color: var(--txt-col-alt);
  background: var(--top-color);
  background-origin: border-box;
  background-clip: padding-box !important;
  border: var(--block-border-size) solid transparent;
  text-shadow: var(--block-border-shadow);
}

.block-border-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  margin: calc(-1 * var(--block-border-size));
  border-radius: inherit;
  background: var(--bg-gradient);
}

*:has(> .block-border-gradient) {
  isolation: isolate;
}

.fill-gradient {
  background: transparent;
}

.fixed-gradient,
.fixed-gradient::before {
  background-attachment: fixed;
}

/* \\ Buttons */

.button {
  border-radius: var(--small-radius);
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  padding: var(--button-padding);
}

.button:hover {
  background: transparent;
}

.button:hover,
.button:hover::before {
  background-attachment: unset;
}

/* || Icon */

.icon {
  /* Default mask image (empty): <svg xmlns="http://www.w3.org/2000/svg"/> */
  --mask-image-url: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciLz4=");
  background: var(--txt-col);
  font-size: inherit;
  width: 1em;
  height: 1em;
  vertical-align: text-top;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  mask-image: var(--mask-image-url);
  -webkit-mask-image: var(--mask-image-url);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.icon-guest {
  /* Phosphor Icons, https://phosphoricons.com/?q=user */
  --mask-image-url: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0iIzAwMDAwMCIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik05Ni4yNiwzN0E4LDgsMCwwLDEsMTAyLDI3LjI5YTEwNC4xMSwxMDQuMTEsMCwwLDEsNTIsMCw4LDgsMCwwLDEtMiwxNS43NSw4LjE1LDguMTUsMCwwLDEtMi0uMjYsODgsODgsMCwwLDAtNDQsMEE4LDgsMCwwLDEsOTYuMjYsMzdaTTMzLjM1LDExMGE4LDgsMCwwLDAsOS44NS01LjU3LDg3Ljg4LDg3Ljg4LDAsMCwxLDIyLTM4LjA5QTgsOCwwLDAsMCw1My44LDU1LjE0YTEwMy45MiwxMDMuOTIsMCwwLDAtMjYsNDVBOCw4LDAsMCwwLDMzLjM1LDExMFpNMTUwLDIxMy4yMmE4OCw4OCwwLDAsMS00NCwwLDgsOCwwLDAsMC00LDE1LjQ5LDEwNC4xMSwxMDQuMTEsMCwwLDAsNTIsMCw4LDgsMCwwLDAtNC0xNS40OVptNjIuOC0xMDguNzdhOCw4LDAsMCwwLDE1LjQyLTQuMjgsMTA0LDEwNCwwLDAsMC0yNi00NSw4LDgsMCwxLDAtMTEuNDEsMTEuMjFBODguMTQsODguMTQsMCwwLDEsMjEyLjc5LDEwNC40NVptMTUuNDQsNTEuMzlhMTAzLjY4LDEwMy42OCwwLDAsMS0zMC42OCw0OS40N0E4LDgsMCwwLDEsMTg1LjA3LDIwM2E2NCw2NCwwLDAsMC0xMTQuMTQsMCw4LDgsMCwwLDEtMTIuNDgsMi4zMiwxMDMuNzQsMTAzLjc0LDAsMCwxLTMwLjY4LTQ5LjQ5LDgsOCwwLDAsMSwxNS40Mi00LjI3LDg3LjU4LDg3LjU4LDAsMCwwLDE5LDM0Ljg4LDc5LjU3LDc5LjU3LDAsMCwxLDM2LjEtMjguNzcsNDgsNDgsMCwxLDEsNTkuMzgsMCw3OS41Nyw3OS41NywwLDAsMSwzNi4xLDI4Ljc3LDg3LjU4LDg3LjU4LDAsMCwwLDE5LTM0Ljg4LDgsOCwwLDEsMSwxNS40Miw0LjI4Wk0xMjgsMTUyYTMyLDMyLDAsMSwwLTMyLTMyQTMyLDMyLDAsMCwwLDEyOCwxNTJaIj48L3BhdGg+PC9zdmc+);
}

.icon-user {
  /* Phosphor Icons, https://phosphoricons.com/?q=user */
  --mask-image-url: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0iIzAwMDAwMCIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0xMjgsMjRBMTA0LDEwNCwwLDEsMCwyMzIsMTI4LDEwNC4xMSwxMDQuMTEsMCwwLDAsMTI4LDI0Wk03NC4wOCwxOTcuNWE2NCw2NCwwLDAsMSwxMDcuODQsMCw4Ny44Myw4Ny44MywwLDAsMS0xMDcuODQsMFpNOTYsMTIwYTMyLDMyLDAsMSwxLDMyLDMyQTMyLDMyLDAsMCwxLDk2LDEyMFptOTcuNzYsNjYuNDFhNzkuNjYsNzkuNjYsMCwwLDAtMzYuMDYtMjguNzUsNDgsNDgsMCwxLDAtNTkuNCwwLDc5LjY2LDc5LjY2LDAsMCwwLTM2LjA2LDI4Ljc1LDg4LDg4LDAsMSwxLDEzMS41MiwwWiI+PC9wYXRoPjwvc3ZnPg==);
}

.icon-member {
  /* Phosphor Icons, merging icons from https://phosphoricons.com/?q=user and https://phosphoricons.com/?q=crown*/
  --mask-image-url: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0iIzAwMDAwMCIgdmlld0JveD0iMCAwIDI1NiAyNTYiPg0KICA8cGF0aCBkPSJNIDIyMS4zNSAxMDQuMTEgQyAyMTYuOTkzIDEwNC44MzkgMjE0LjA1MSAxMDguOTYzIDIxNC43OCAxMTMuMzIgQyAyMTUuNTkyIDExOC4xNzEgMjE2IDEyMy4wODEgMjE2IDEyOCBDIDIxNi4wMTkgMTQ5LjU0MiAyMDguMTAyIDE3MC4zMzYgMTkzLjc2IDE4Ni40MSBDIDE4NC44MzggMTczLjQ4MSAxNzIuMjkyIDE2My40NzggMTU3LjcgMTU3LjY2IEMgMTg2LjcyOCAxMzQuNzk3IDE4MC4xMiA4OS4wODQgMTQ1LjgwNiA3NS4zNzcgQyAxMTEuNDkyIDYxLjY2OSA3NS4yMDggOTAuMjQ4IDgwLjQ5NCAxMjYuODE5IEMgODIuMjU1IDEzOS4wMDIgODguNjI5IDE1MC4wNDMgOTguMyAxNTcuNjYgQyA4My43MDggMTYzLjQ3OCA3MS4xNjIgMTczLjQ4MSA2Mi4yNCAxODYuNDEgQyAxNy4yNzYgMTM1Ljc0MiA0NC4wMjMgNTUuMzk5IDExMC4zODUgNDEuNzkzIEMgMTE2LjE4MiA0MC42MDUgMTIyLjA4MyA0MC4wMDQgMTI4IDQwIEMgMTMyLjkxOSAzOS45OTkgMTM3LjgyOSA0MC40MDcgMTQyLjY4IDQxLjIyIEMgMTQ4Ljc2MyA0Mi4xOCAxNTMuNjA0IDM2LjE5NSAxNTEuMzk0IDMwLjQ0NiBDIDE1MC4zODcgMjcuODI4IDE0OC4wODIgMjUuOTI5IDE0NS4zMiAyNS40NCBDIDY2LjQzMSAxMi4xNjkgMi43NTggODkuMjc0IDMwLjcxIDE2NC4yMyBDIDU4LjY2MSAyMzkuMTg1IDE1Ny4yNzIgMjU1Ljc3NSAyMDguMjEgMTk0LjA5IEMgMjI3LjQwNiAxNzAuODQ1IDIzNS41NjEgMTQwLjQwOSAyMzAuNTYgMTEwLjY4IEMgMjI5LjgzMSAxMDYuMzIzIDIyNS43MDcgMTAzLjM4MSAyMjEuMzUgMTA0LjExIFogTSA5NiAxMjAgQyA5NiA5NS4zNjYgMTIyLjY2NyA3OS45NyAxNDQgOTIuMjg3IEMgMTY1LjMzMyAxMDQuNjA0IDE2NS4zMzMgMTM1LjM5NiAxNDQgMTQ3LjcxMyBDIDEzOS4xMzUgMTUwLjUyMSAxMzMuNjE3IDE1MiAxMjggMTUyIEMgMTEwLjMyNyAxNTIgOTYgMTM3LjY3MyA5NiAxMjAgWiBNIDc0LjA4IDE5Ny41IEMgOTkuMjUgMTU4LjEzNSAxNTYuNzUgMTU4LjEzNSAxODEuOTIgMTk3LjUgQyAxNTAuMjA1IDIyMi4xNjYgMTA1Ljc5NSAyMjIuMTY2IDc0LjA4IDE5Ny41IFoiPjwvcGF0aD4NCiAgPHBhdGggZD0iTSAyMzYuODUzIDM3LjQ4OSBDIDIzNC41OTYgMzYuMzc5IDIzMS44NzYgMzYuOTI3IDIzMC4yMiAzOC44MTYgTCAyMTguNDA4IDUxLjU1MiBMIDIwNS44NDcgMjMuMzc4IEMgMjA1Ljg0NCAyMy4zNjcgMjA1Ljg0NCAyMy4zNTUgMjA1Ljg0NyAyMy4zNDQgQyAyMDQuMDM2IDE5LjQyIDE5OC42NTggMTguOTI3IDE5Ni4xNjMgMjIuNDU0IEMgMTk1Ljk2NCAyMi43MzUgMTk1Ljc5MiAyMy4wMzIgMTk1LjY1IDIzLjM0NCBDIDE5NS42NSAyMy4zNTUgMTk1LjY1IDIzLjM2NyAxOTUuNjUgMjMuMzc4IEwgMTgzLjA4OCA1MS41NTIgTCAxNzEuMjczIDM4LjgxNiBDIDE2OC40MTYgMzUuNTc1IDE2My4xMjIgMzYuNjQgMTYxLjc0IDQwLjczNiBDIDE2MS40NDEgNDEuNjM0IDE2MS4zNyA0Mi41OTMgMTYxLjUzOSA0My41MjYgQyAxNjEuNTM5IDQzLjU2NSAxNjEuNTM5IDQzLjU5OSAxNjEuNTYxIDQzLjYzOSBMIDE2OS41MTkgODAuMDg1IEMgMTcwLjAyNSA4Mi43MzIgMTcyLjMzOSA4NC42NDYgMTc1LjAzNSA4NC42NDYgTCAyMjYuNDY1IDg0LjY0NiBDIDIyOS4xNTYgODQuNjQzIDIzMS40NjkgODIuNzI5IDIzMS45NzUgODAuMDg1IEwgMjM5LjkzMyA0My42MzkgQyAyMzkuOTMzIDQzLjU5OSAyMzkuOTMzIDQzLjU2NSAyMzkuOTU4IDQzLjUyNiBDIDI0MC40MTUgNDEuMDQyIDIzOS4xMzggMzguNTYgMjM2Ljg1MyAzNy40ODkgWiI+PC9wYXRoPg0KPC9zdmc+);
}

.icon-admin {
  /* Phosphor Icons, https://phosphoricons.com/?q=user */
  --mask-image-url: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0iIzAwMDAwMCIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0yMjguMjUsNjMuMDdsLTQuNjYtMi42OWEyMy42LDIzLjYsMCwwLDAsMC04Ljc2bDQuNjYtMi42OWE4LDgsMCwwLDAtOC0xMy44NmwtNC42NywyLjdBMjMuOTIsMjMuOTIsMCwwLDAsMjA4LDMzLjM4VjI4YTgsOCwwLDAsMC0xNiwwdjUuMzhhMjMuOTIsMjMuOTIsMCwwLDAtNy41OCw0LjM5bC00LjY3LTIuN2E4LDgsMCwxLDAtOCwxMy44Nmw0LjY2LDIuNjlhMjMuNiwyMy42LDAsMCwwLDAsOC43NmwtNC42NiwyLjY5YTgsOCwwLDAsMCw0LDE0LjkzLDcuOTIsNy45MiwwLDAsMCw0LTEuMDdsNC42Ny0yLjdBMjMuOTIsMjMuOTIsMCwwLDAsMTkyLDc4LjYyVjg0YTgsOCwwLDAsMCwxNiwwVjc4LjYyYTIzLjkyLDIzLjkyLDAsMCwwLDcuNTgtNC4zOWw0LjY3LDIuN2E3LjkyLDcuOTIsMCwwLDAsNCwxLjA3LDgsOCwwLDAsMCw0LTE0LjkzWk0xOTIsNTZhOCw4LDAsMSwxLDgsOEE4LDgsMCwwLDEsMTkyLDU2Wm0yOS4zNSw0OC4xMWE4LDgsMCwwLDAtNi41Nyw5LjIxQTg4Ljg1LDg4Ljg1LDAsMCwxLDIxNiwxMjhhODcuNjIsODcuNjIsMCwwLDEtMjIuMjQsNTguNDEsNzkuNjYsNzkuNjYsMCwwLDAtMzYuMDYtMjguNzUsNDgsNDgsMCwxLDAtNTkuNCwwLDc5LjY2LDc5LjY2LDAsMCwwLTM2LjA2LDI4Ljc1QTg4LDg4LDAsMCwxLDEyOCw0MGE4OC43Niw4OC43NiwwLDAsMSwxNC42OCwxLjIyLDgsOCwwLDAsMCwyLjY0LTE1Ljc4LDEwMy45MiwxMDMuOTIsMCwxLDAsODUuMjQsODUuMjRBOCw4LDAsMCwwLDIyMS4zNSwxMDQuMTFaTTk2LDEyMGEzMiwzMiwwLDEsMSwzMiwzMkEzMiwzMiwwLDAsMSw5NiwxMjBaTTc0LjA4LDE5Ny41YTY0LDY0LDAsMCwxLDEwNy44NCwwLDg3LjgzLDg3LjgzLDAsMCwxLTEwNy44NCwwWiI+PC9wYXRoPjwvc3ZnPg==);
}
