<%# Required: - %>
<%# Optional:
  locals.flashMessages.validationErrors = {groupedMsg: {[name]: [array of messages]}},
  locals.validationErrors = {groupedMsg: {[name]: [array of messages]}}
%>

<%_ 
  const validationErrors = locals.flashMessages?.validationErrors || locals.validationErrors;
  if(validationErrors){ 
    const errorMsgs = validationErrors.groupedMsg[name]; 
    
    if (errorMsgs != null) { 
_%>
<div role="alert" aria-live="assertive">
  <ul>
    <%_ errorMsgs.forEach((msg) => { _%>
    <li><%= msg %></li>
    <%_ }) _%>
  </ul>
</div>
<%_ 
    }
  }
_%>