<%# Required: locals.label %>
<%# Optional: locals.flashMessages.data.[name], locals.data.[name], locals.value, class, input attributes, locals.validationErrors    %>
<%_ const dataValue = locals.flashMessages?.data?.[name] ?? locals.data?.[name]; _%>
<label>
  <span><%= label %></span>
  <input <%- include("inputParams.ejs",{value: dataValue ?? locals.value}) _%>>
  <%- include("inputValidationErrors.ejs") _%>
</label>