<%# Required: value %>
<%# Optional: locals.label, class, input attributes, locals.validationErrors    %>
<label>
  <input <%- include("inputParams.ejs",{type: "radio"}) _%>><span><%= locals.label || value -%></span>
</label>