<%# Required: locals.label %>
<%# Optional: locals.disableSubmit %>
<button type="submit" onClick="if(this.form.reportValidity()){this.form.submit(); this.disabled=true; this.innerText='Sending…'; }" <%_ if(locals.disableSubmit ?? false) { _%>disabled<%_ } _%>><%= label %></button>