<%# Required: locals.label %>
<%# Optional: locals.flashMessages.data.[name], locals.data.[name], class, input attributes, locals.validationErrors %>
<%_ const dataValue = locals.flashMessages?.data?.[name] ?? locals.data?.[name]; _%>
<label>
  <span><%= label %></span>
  <textarea rows="6" <%- include("inputParams.ejs") _%>><%= dataValue ?? "" %></textarea>
  <%- include("inputValidationErrors.ejs") _%>
</label>