<span>
  <p>You are already logged in as <span class="text-gradient user-name"><%= currentUser.username _%></span>.</p>
  <p><%- include("../logoutButtonAndDialog.ejs",{useLink:true}) _%> to use a different account.</p>
</span>