<span>
  <p>You already have an account as <span class="text-gradient user-name"><%= currentUser.username _%></span>.</p>
  <p><%- include("../logoutButtonAndDialog.ejs",{useLink:true}) _%> to create a new account.</p>
</span>